body{
    margin: 0;
    padding: 0;
}
.main{
width: 80%;
margin: auto;
text-align: center;
margin-top: 50px;
}

.main img{
    width: 260px;
    height: 40px;
    margin-bottom: 16px;
}
.main h1{
    font-family: sans-serif;
    background-color: red;
   color: white;
}
.main h3{
    color: green;
}

input{
    padding: 10px;
    margin-top: 16px;
    width: 135px;
}

#cardNumber{
    padding: 10px;
    width: 300px;
}

#pay{
    background-color: black;
    margin-top: 32px;
    width: 325px;
    padding: 10px;
    color: white;
}
#pay:hover{
    cursor: pointer;
    background-color: rgb(220, 9, 44);
}
.main p{
    margin-top: 32px;
}

@media all and (min-width: 0px) and (max-width: 404px) 
{

    #cardNumber{
        width: 250px;
    }

    input{
        padding: 10px;
        margin-top: 16px;
        width: 99px;
    }

    #pay{
        background-color: black;
        margin-top: 32px;
        width: 275px;
        padding: 10px;
        color: white;
    }
}