#main{
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}

.smallImg{
    width: 8%;
}
.bigImg{
    width: 50%;
}
.details{
    width: 35%;
}
.smallImg img{
    height: 95px;
    width: 76px;
    padding: 10px;
    cursor: pointer;
}
.smallImg,.bigImg,.details{
    margin-top: 50px;
    
}
.bigImg img{
    width: 100%;
}

.details .priceDiv{
    display: flex;
    gap: 10px;
    
}
.priceDiv > p{ 
    font-size: 20px;
}
#sprice{ 
   text-decoration:line-through;
}
.priceDiv>p+p+p{
    color: red;
}
.details > p{
    font-size: 16px;
    font-family: sans-serif;
}
.details h1{
    
}
#color{
margin-top: 0px;
color: red;
font-size: 24px;
font-family: sans-serif;
}
.details h2{
    
}
.details > p{
  
}
.line{

 height: 1px;
 background-color: rgb(228, 221, 221);
 margin-top: 32px;
 margin-bottom: 32px;
}

.sizeGuide{
   
    font-size: 13px;
}

.sizeBox > label{
    margin-left: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid rgb(228, 221, 221);
    padding: 6px;
}
.sizeBox > input{
    margin-left: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
}
.colorDiv >p{
    font-size: 14px;
    margin-top: 24px;
}
.colorDiv > img{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 30px;
}

#addCart{
    width: 100%;
    border: none;
    margin-top: 24px;
    padding: 16px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-family: sans-serif;
}
#addCart:hover{
background-color: rgb(51, 48, 48);
}
.productDetails{
    margin-top: 32px;
}
.productDetails > p{
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 8px;
}
ul >li{
    font-family: sans-serif;
    font-size: 16px;
    padding: 6px;
}
#extraProduct{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
#extraProduct h2{
    font-family: sans-serif;
}
.grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0 8px;
}
.grid > div img{
    width: 100%;
}

.grid > div .priceDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.grid >div .priceDiv >p{
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
}



#others{
    margin-top: 50px;
    width: 97%;
    margin: auto;
   
}
.grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 10px;
}
.grid2  img{
width: 100%;
}
.grid h3{
    text-align: center;
}

.grid2 button{
    margin-top: 12px;
  border:1px solid rgb(228, 221, 221);
  padding: 8px;
  background-color: white;
  margin-bottom: 8px;
}

#sellerName{
    font-size: 20px;
    font-family:Futura,sans-serif;
}
#productName{
    font-size: 30px;
    font-family: serif;
    font-style: Tiemann,serif;
}

#main .mobileImg{
    display: none;
}
.grid2 p{
    text-align: center;
}
.grid > div:hover{
    cursor: pointer;
}

.grid2 > div img,button:hover{
    cursor: pointer;
}

@media all and (min-width: 0px) and (max-width: 768px) 
{
   #main .smallImg{
    display: none;
   }
    #main{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        width: 100%;
        margin: auto;
    }
    #main .mobileImg{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 16px;
    }
    #main .mobileImg img{
        height: 50px;
        width: 50px;
        padding: 10px;
        cursor: pointer;
    }
    #main .bigImg{
        width: 100%;
    }
    #main .details{
        width: 100%;
        text-align: center;
    }

    .priceDiv{
        justify-content: center;
    }
    .productDetails{
        text-align: left;
    }

    #extraProduct .grid{
        grid-template-columns: repeat(2,1fr);
    }

    #others .grid2{
        grid-template-columns: repeat(1,1fr);
    }
    #addCart{
        width: 98%;
        margin: auto;
    }
}







/*CART LAYOUT*/


#mainCart {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* opacity: 0; */
    z-index: 26;
    display: none;
    
  }
  #cart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: white;
    width: 360px;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #cartUp {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    border-bottom: solid 1px #00000036;
  }
  #cartUp > h2 {
    font-weight: 500;
  }
  #cartUp > * {
    margin: 25px;
  }
  #tot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #cartD > button {
    width: 100%;
    border: none;
    color: white;
    background: black;
    padding: 16px;
    font-family: sans-serif;
  }
  #cartD > button:hover{
    cursor: pointer;
    background-color: rgb(56, 53, 53);
  }
  #cartD > p {
    font-family: sans-serif;
    font-size: 13px;
  }
  #cartD {
    padding-bottom: 32px;
    margin: 10px;
  }
  #cartBlock {
    overflow-y: scroll;
    grid-area: 2 / 1 / 6 / 2;
  }
  .cartCard {
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px #00000036;
  }
  .cartT {
    font-size: 16px;
    margin-bottom: 0px;
    font-family: monospace;
  }
  #quant{
    margin: 8px;
    display: flex;
    justify-content: center;
  }

  #quant button{
    padding-left: 10px;
    padding-right: 10px;
  }
  #cartBlock img{
    width: 100px;
    height: 100px;
  }
  #totalBtn{
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    color: white;
    background-color: rgb(31, 28, 28);
  }
 
  #cut:hover{
    cursor: pointer;
   }
/*CART PAGE DESIGN CSS END*/
