*{
    margin: 0px;
    padding: 0px;
}
#logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#main{
    width: 20%;
    height: auto;
    padding: 30px 60px 30px 50px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin-top: 20px;
    
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"]
{
 width: 100%;
 margin-bottom:20px;
 padding: 10px;
 border-radius: 5px;
 border: 1px solid gray;
 font-size: 15px;
}
::placeholder{
    color: gray;
}
label{
    font-size: 20px;
    display: flex;
    margin-bottom: 10px;
}
input[type="submit"]{
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
    border: 1px solid gray;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    box-sizing: content-box;
    margin-top: 20px;
    
}
input[type="submit"]:hover{
    cursor: pointer;
}
form+p{
    font-size: 18px;
    color: gray;
    text-align: center;
}
form+p>a{
    margin-left: 10px;
}






@media all and (max-width:720px){
    body{
        padding: 0px 100px 20px 100px;
    }
    #main{
        width: auto;
        height: auto;
        padding: 30px 60px 30px 50px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        margin-top: 20px;
        
    }
}
.container1 ul {
    list-style: none;
    display: flex;
    }
    .container1 ul li {
        margin-right: 21px;
    margin-left: -21px;
    padding: 8px 25px;
    }
    .container1 ul li a {
    color: black;
    
    }
    .container ul li a{
    color: white;
    }
    .mixed{
        text-align: center;
        color: red;
        text-decoration: underline;
        }
        .anime{
            margin: 0;
            padding: 0;
            font-family: montserrat, sans-serif;
            background: black;
            color: white;
          
            width: 100%;

        }
        .line{
            text-transform: uppercase;
            text-align: center;
            
            line-height: 20px;
            }
            .line:first-child{
            animation: anim 5s infinite;
            }
            @keyframes anim {
            0%{
                margin-right: 0;
            }
            16%{
                margin-right: -60px;
            }
            33%{
                margin-right: -120px;
            }
            50%{
                margin-right: 0px;
            }
            66%{
                margin-right: 0px;
            }
            82%{
                margin-right: 0px;
            }
            100%{
                margin-right: 0;
            }
            }
            .line:nth-child(2){
                animation: anim 5s infinite;
                }
                @keyframes anim {
                0%{
                    margin-right: 0;
                }
                16%{
                    margin-right: -60px;
                }
                33%{
                    margin-right: -120px;
                }
                50%{
                    margin-right: -180px;
                }
                66%{
                    margin-left: 120px;
                }
                82%{
                    margin-left: 60px;
                }
                100%{
                    margin-left: 0;
                }
                }
                .foto {
                    width: 100%;
                    margin: 10px;
                    padding: 10px;
                    display: flex;
                    text-align: center;
                    justify-content: space-evenly;
                
                }
                .foto img {
                   
                    float: left;
                    width:  400px;
                    height: 400px;
                    object-fit: cover;
                }
                .bot{
                    border: 1px solid black;
                    width: 50%;
                    color: black;
                    margin-left: 30%;
                    background-color: rgba(245, 241, 241, 0.902);
                }
                .lphoto{
                    display: grid;
                    justify-content: center;
                    width: 100%;
                 background-color: gainsboro;
                 margin-bottom: 30px;
                 margin-bottom: -50px;
                 margin-top: 30px;
                 
                }
                .last p {
                    text-decoration: solid;
                    color: black;
                }
                .last > div > p > a{
                    color: black;
                    text-decoration: none;
                }