
*{
    height: auto;
    padding: 0px;
}

#Parent{
    display: inline-flex;
    width: 70%;
    margin-left: 15%;
    /* border: 1px solid black; */
    display: inline-flex;
    
}

#Filter{
    height: 300px;
    width: 20%;
    border: 1px solid whitesmoke;
}
.collection {
    cursor: pointer;
    margin-top: 8px;
    padding: 5px;
    margin-left: 5px;
    
}

.options {
    height:auto;
    margin-top: -20px;
    margin-left: 5px;
    padding:5px;

    
}

.category {
    border: 1px solid whitesmoke;
    height:auto;
    width:100%;
}


#Product {

    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    text-align: center;
    /* border:1px solid crimson; */

} 


h4+ div {
    display:flex;
    justify-content: space-around;
    width: 100%;

    /* margin-top: -20px; */
    margin-bottom: 10px;
}
#Product {
    width: 100%;
  
}
.product_box{
    width: 97%;
    margin-left:3%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
   
    
}
#Product div img{
    width: 250px;
}
#Product div h5{
    /* margin-top: -20px; */
    width: 100%;
    color: gray;
}
.image_box{
    width: 100%;
    height: auto;
}
#Product div h4{
    margin-top: -20px;
    color: #67b8e3;
}
.price_line{
    text-decoration: line-through;

}
.save_line{
    color: #fb7b7b;
}

#header {
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
}

h1 {
    text-align: center;
}




  


